<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Permissão</th>
      <th>Ativo</th>
      <th *ngIf="isAdmin">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.roles }}</td>
      <td>{{ user.active }}</td>
      <td *ngIf="isAdmin"><button pButton type="button" label="Habilitar/Desabilitar" class="p-button-warning button-spacing" (click)="listarUsuarios()"></button></td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Erro" [(visible)]="displayErrorDialog" modal="modal" [closable]="true">
  <p>{{ errorMessage }}</p>
</p-dialog>

<!-- PrimeNG Toast para exibir notificações -->
<p-toast></p-toast>
